SHELL=/bin/bash
*       *       *       *       *       source /opt/webcam/env/bin/activate && python /opt/webcam/imagecapture.py
*       *       *       *       *       source /opt/webcam/env/bin/activate && python /opt/webcam/sstv.py